{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking List</title>
    <link rel="stylesheet" href="{% static 'css/book-dashboard.css' %}">
</head>
<body>
    <div class="container">
        <h1>Booking List</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Showtime</th>
                    <th>Seats</th>
                    <th>Amount Paid</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.id }}</td>
                        <td>{{ booking.user.user.username }}</td>
                        <td>{{ booking.showtime }}</td>
                        <td>{{ booking.seats|join:", " }}</td>
                        <td>{{ booking.amount_paid }}</td>
                        <td>
                            <a href="{% url 'booking_detail' booking.id %}">View</a>
                            <a href="{% url 'booking_delete' booking.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
