{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/showtime-style.css' %}">
    <title>Create Showtime</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function updateScreens(theatreId) {
            $.ajax({
                url: '/showtime/get_screens/' + theatreId + '/',
                type: 'GET',
                success: function(data) {
                    var screenSelect = $('#screen');
                    screenSelect.empty();
                    data.forEach(function(screen) {
                        screenSelect.append(new Option(screen.name, screen.id));
                    });
                }
            });
        }

        $(document).ready(function() {
            $('#theatre').change(function() {
                var theatreId = $(this).val();
                updateScreens(theatreId);
            });

            // Trigger screen update on page load if there is only one theatre
            var theatreCount = $('#theatre option').length;
            if (theatreCount === 2) { // including the placeholder option
                var theatreId = $('#theatre').val();
                updateScreens(theatreId);
            }
        });
    </script>
</head>
<body style="background-image: url('{% static 'images/movie-image.jpg' %}'); color: white; background-attachment: fixed;">

    <div class="container">
        <h4>Create Showtime</h4>
        <form method="post">
            {% csrf_token %}
            <label for="movie">Movie:</label>
            <select id="movie" name="movie" required>
                {% for movie in movies %}
                    <option value="{{ movie.id }}">{{ movie.title }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="theatre">Theatre:</label>
            <select id="theatre" name="theatre" required>
                <option value="" disabled selected>Select a theatre</option>
                {% for theatre in theatres %}
                    <option value="{{ theatre.id }}">{{ theatre.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="screen">Screen:</label>
            <select id="screen" name="screen" required>
                <option value="">Select a theatre first</option>
            </select>
            <br>
            <label for="start_date">Start Date:</label>
            <input type="datetime-local" id="start_date" name="start_date" required>
            <br>
            <button type="submit">Create Showtime</button>
        </form>
    </div>
</body>
</html>
