{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/showtime-style.css' %}">
    <title>Create Showtime</title>
</head>
<body style="background-image: url('{% static 'images/movie-image.jpg' %}'); color: white; background-attachment: fixed;">

    <div class="container">
        <h4>Create Showtime</h4>
        <form method="post">
            {% csrf_token %}
            <label for="movie">Movie:</label>
            <select id="movie" name="movie" required>
                {% for movie in movies %}
                    <option value="{{ movie.id }}">{{ movie.title }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="screen">Screen:</label>
            <select id="screen" name="screen" required>
                {% for screen in screens %}
                    <option value="{{ screen.id }}">{{ screen.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="start_date">Start Date:</label>
            <input type="datetime-local" id="start_date" name="start_date" required>
            <br>
            <button type="submit">Create Showtime</button>
        </form>
    </div>
</body>
</html>
