{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/showtime-style.css' %}">
    <title>Delete Showtime</title>
</head>
<body style="background-image: url('{% static 'images/movie-image.jpg' %}'); color: white; background-attachment: fixed;">

    <div class="container">
        <h4>Delete Showtime</h4>
        <p>Are you sure you want to delete the Showtime for {{ showtime.movie.title }} on {{ showtime.start_date }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirm Delete</button>
            <a href="{% url 'showtime_list' %}">Cancel</a>
        </form>
    </div>
</body>
</html>
