{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/showtime-style.css' %}">
    <title>Showtime List</title>
</head>
<body style="background-image: url('{% static 'images/movie-image.jpg' %}'); color: white; background-attachment: fixed;">
    <div class="container">
        <h4>ShowTimes</h4>
        <a href="{% url 'create_showtime' %}">Create New Showtime</a>
        <table>
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Screen</th>
                    <th>Theatre</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for showtime in showtimes %}
                    <tr>
                        <td>{{ showtime.movie.title }}</td>
                        <td>{{ showtime.screen.name }}</td>
                        <td>{{ showtime.theatre.name }}</td>
                        <td>{{ showtime.start_date }}</td>
                        <td>{{ showtime.end_date }}</td>
                        <td>
                            <a href="{% url 'edit_showtime' showtime.id %}">Edit</a>
                            <form action="{% url 'delete_showtime' showtime.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
