body {
    background-image: url('../images/movie-image.jpg');
    color: white;
    background-attachment: fixed;
}
.container {
    width: 80%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.filter-form {
    margin-bottom: 20px;
}
.theatre {
    margin-bottom: 30px;
}
.showtime-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.showtime-item {
    background: #222;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    text-align: center;
    width: 70px;
    cursor: pointer;
}

.showtime-item:hover {
    background: red;
    transform: scale(1.05);
}

.showtime-link {
    color: white;
    text-decoration: none;
}

.showtime-link:hover {
    text-decoration: none;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}
.pagination .step-links a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}
.pagination .step-links .current {
    margin: 0 5px;
}
