{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon">
    <title>My List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
</head>
<body style="background-image: url('{% static 'images/movie-image.jpg' %}'); color: white; background-attachment: fixed;">
    <div class="header">
        <div class="menu">
               <a href="/">Home</a>
                <a href="/movie/latestmovies">Latest Movies</a>
                <a href="/user/logout">Logout</a>
        </div>
    </div>
    <div class="tabs">
        <div class="tab active" onclick="showTab('bookmarks')">Bookmarks</div>
        <div class="tab" onclick="showTab('history')">History</div>
        <div class="tab" onclick="showTab('likes')">Likes</div>
    </div>
    <div id="bookmarks" class="content active">
        {% for movie in bookmarks_movie_list reversed %}
        <div class="movie">
            <img src="{{ movie.movie_image.url }}" alt="{{ movie.title }}">
            <div class="movie-details">
                <h4>{{ movie.title }}</h4>
                <p>{{ movie.overview }}</p>
                <p>{{ movie.genre }}</p>
                <small><i class="fa fa-eye"></i>
                    {% load my_filter %}
                    {% if movie.views <= 999 %}
                        {{ movie.views }}
                    {% elif movie.views <= 1000 and movie.views <= 999999 %}
                        {{ movie.views|countkm:1000 }}K+
                    {% else %}
                        {{ movie.views|countkm:1000000 }}M+
                    {% endif %}
                </small>
                <div class="action-buttons">
                    <a href="/movie/view/{{ movie.id }}"><button>VIEW</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="history" class="content">
        {% for movie in history_movie_list reversed %}
        <div class="movie">
            <img src="{{ movie.movie_image.url }}" alt="{{ movie.title }}">
            <div class="movie-details">
                <h4>{{ movie.title }}</h4>
                <p>{{ movie.overview }}</p>
                <p>{{ movie.genre }}</p>
                <small><i class="fa fa-eye"></i>
                    {% load my_filter %}
                    {% if movie.views <= 999 %}
                        {{ movie.views }}
                    {% elif movie.views <= 1000 and movie.views <= 999999 %}
                        {{ movie.views|countkm:1000 }}K+
                    {% else %}
                        {{ movie.views|countkm:1000000 }}M+
                    {% endif %}
                </small>
                <div class="action-buttons">
                    <a href="/movie/view/{{ movie.id }}"><button>VIEW</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="likes" class="content">
        {% for movie in likes_movie_list reversed %}
        <div class="movie">
            <img src="{{ movie.movie_image.url }}" alt="{{ movie.title }}">
            <div class="movie-details">
                <h4>{{ movie.title }}</h4>
                <p>{{ movie.overview }}</p>
                <p>{{ movie.genre }}</p>
                <small><i class="fa fa-eye"></i>
                    {% load my_filter %}
                    {% if movie.views <= 999 %}
                        {{ movie.views }}
                    {% elif movie.views <= 1000 and movie.views <= 999999 %}
                        {{ movie.views|countkm:1000 }}K+
                    {% else %}
                        {{ movie.views|countkm:1000000 }}M+
                    {% endif %}
                </small>
                <div class="action-buttons">
                    <a href="/movie/view/{{ movie.id }}"><button>VIEW</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div><br><br><br><br><br><br><br><br>
    <div class="footer">
        <div class="social-icons">
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        <small>SHOWTIME</small>
        <small>All Rights Reserved</small>
        <small>© SHOWTIME . Powered by SHOWTIME</small>
    </div>
    <script>
        function showTab(tab) {
            var tabs = document.getElementsByClassName('tab');
            var contents = document.getElementsByClassName('content');
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove('active');
                contents[i].classList.remove('active');
                if (tabs[i].textContent.toLowerCase() === tab) {
                    tabs[i].classList.add('active');
                    contents[i].classList.add('active');
                }
            }
        }
    </script>
</body>
</html>
