{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Theatre</title>
    <link rel="stylesheet" href="{% static 'css/theatre-style.css' %}">
</head>
<body style="background-image: url('{% static 'images/movie-image.jpg' %}'); color: white; background-attachment: fixed;">

    <h4>Delete Theatre</h1>
    <p>Are you sure you want to delete "{{ theatre.name }}"?</p>
    <form method="post" action="{% url 'delete_theatre' theatre.id %}">
        {% csrf_token %}
        <button type="submit" class="btn">Confirm</button>
    </form>
    <a href="{% url 'dashboard' %}" class="btn">Cancel</a>
</body>
</html>
